/* :root {
  tekstiosa nimes on vabalt valitud
  --variable: 50vw;
}

* {
  box-sizing:
  border-box;
}

header {
  position: sticky;
  top: 0;
}

section {
  position: relative;
} */

/* span {
  background: black;
  display: block;
  width: var(--variable);
  height: 10vw;
} */

/* .heading1 {
  font-size: 50px;
  font-size: 1em;
}
#heading2 {
  font-size: 1rem;
} */
/* p {
  color: #FFFFFF;
} */

/* ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pilt {
  width: 100%;
  margin: 10vw;
  top, right, bottom, left:
  margin: 0vw 10vw 10vw 10vw;
  background-color: white;
  border: 4px solid black;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  padding: 5vw;
  width: 80vw;
  height: auto;
}

#pilt1 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 40vw;
}

#pilt2 {
  position: sticky;
  top: 0;

}

.hello, ol {
  opacity: 0.5;
  display: none;
}

p {
  display: inline;
}

.tooltip {
  background: rgba(0 ,0 ,0 , 0.7);
}

.fixed {
  position:fixed;
}

.bottom-left {
  bottom: 50px;
  left: 50px;
}

.first {
  display: block;
  font-size: 2em;
  background-color: orange;
  background-image: url(pilt.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}  */

/* @keyframes animation {
  0% {color: #A5A5A5;}
  50% {color: #FFFFFF;}
  100% {color: #A5A5A5;}
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F4E5DE;
}

.button1 a, .button2 a, .button3 a, .logotext a {
  display: block;
  margin: 0 auto;
  padding: 8px 10px;
  vertical-align: center;
  font-family: Maison Neue;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #A5A5A5;
  font-size: 1.5rem;
}

a:hover {
  color: #222222;
  transition: .6s;
}


.button1 {
  position: fixed;
  width: 90px;
  height: 40px;
  right: 330px;
  top: 120px;
}

.button2 {
  position: fixed;
  width: 90px;
  height: 40px;
  right: 460px;
  top: 120px;
}

.button3 {
  position: fixed;
  width: 90px;
  height: 40px;
  right: 600px;
  top: 120px;
}


.logo a {
  position: fixed;
  width: 260px;
  height: 121px;
  left: 400px;
  top: 56px;

  font-family: Maison Neue;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 121px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #222222;
}

.heading1 {
  position: absolute;
  width: 740px;
  height: 282px;
  left: 400px;
  top: 350px;

  font-family: Maison Neue;
  font-style: normal;
  font-weight: 300;
  font-size: 3.3rem;
  line-height: auto;
  display: flex;
  align-items: center;
  color: #222222;
}

.heading2 {
  position: absolute;
  width: 30px;
  height: 381px;
  left: 400px;
  top: 300px;

  padding: 0;
  font-family: Maison Neue;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #A5A5A5;
  opacity: .65;
  font-size: 1.5rem;
}

.textbox {
  position: relative;
  width: 600px;
  height: 381px;
  left: 1100px;
  top: 900px;

  font-family: Maison Neue;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 160%;
  color: #222222;
}

#ConceptA {
  position: absolute;
  top: 800px;
  left: 400px;
  max-width: 30%;
  height: auto;
}
/*
#ConceptB {
  position: absolute;
  top: 900px;
  left: 1100px;
  max-width: 100%;
  height: auto;
} */
